<ion-content class="ion-padding">
  <h1>Reset Password...</h1>
  <h3>Create new Password...</h3>

  <form  [formGroup]="ForgetPassword" (ngSubmit)="forgetPassword()">
    <ion-input 
    type="password" 
    label="New password" 
    label-placement="floating" 
    fill="outline" 
    formControlName="password" 
    errorText="password must be 6 char"
    helperText="Demo password :- Test@123">
  </ion-input>
   
    <ion-input 
    type="password" 
    label="Retype password" 
    label-placement="floating" 
    fill="outline" 
    formControlName="c_password">
  </ion-input>

    <ion-button label='Create'  type="submit" [disabled]="!ForgetPassword.valid" (click)="network()">Submit</ion-button>
  </form>

  <p class="footer-text">I'm already a member, <a routerLink="/">Sign In</a></p>
</ion-content>