ion-back-button{
  color: var(--ion-color-primary);
}

.h6{
  text-align: center;
  margin-top: 0px;
  
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


  
  .error {
    
    margin-top: 1px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    text-align: left;
    font-weight: 600;
    font-size: 12px;
    color: #ff0000;
  }

  ion-input{
    font-size: 16px;
    font-weight: 600;
    color: #4a4a4a;

  }

  ion-item{
    margin-top: 0px;
    margin-bottom: 5px;
    border: 1px solid #ababab;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    color: #4b4b4b;
  }

  p{
    font-size: 14px;
    font-weight: 600;
    color: #4a4a4a;
  }

 
  ion-button {
    --box-shadow: none;
    --border-radius: 5px;
    --background: linear-gradient(
      90deg,
      #7590d6 0%,
      #4d71d7 100%
    );

    display: block;
    margin-top: 2px;
    height: 48px;
    font-size: 1rem;
    color: #fff;
    margin-bottom: 0.5rem;
    text-transform: initial;
  }
  

