<ion-header [translucent]="true">
  <ion-toolbar>
    <img class="img" src="../../assets/img/s.png" height="35"  alt="">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="myBackButton()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">payment</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->


<ion-content class="ion-padding">


  <ion-card >   

    <ion-card-header> 
       <h4 class="h6" style="color: brown;"> <b>Payment Details</b>  </h4>
       


        <!-- <ion-row class="ion-margin">
          <ion-col class="ion-text-center">
            <ion-title>
              <ion-text >
                <strong >Property Details..</strong>
              </ion-text>
            </ion-title>
          </ion-col>
        </ion-row> -->

    
    
        <ion-row >
          <ion-col class="header-row" >
            <ion-text>
              <ion-icon name="person-outline"></ion-icon>&nbsp;<b>Applicant Name</b>   
            </ion-text>
          </ion-col>
            <ion-col>
              <ion-text>
                {{ApplicationData.Applicant_name}}</ion-text>
            </ion-col>
        </ion-row>

        <ion-row >
          <ion-col class="header-row" >
            <ion-text>
              <ion-icon name="call-outline"></ion-icon>&nbsp;<b>Applicant Phone no.</b>   
            </ion-text>
          </ion-col>
            <ion-col>
              <ion-text>
                {{ApplicationData.Mobile_number}}</ion-text>
            </ion-col>
        </ion-row>

        <ion-row >
          <ion-col class="header-row" >
            <ion-text>
              <ion-icon name="mail-outline"></ion-icon>&nbsp;<b>Applicant Email Id</b>   
            </ion-text>
          </ion-col>
            <ion-col>
              <ion-text>
                {{ApplicationData.Email_id}}</ion-text>
            </ion-col>
        </ion-row>

        <ion-row >
          <ion-col class="header-row" >
            <ion-text>
              <ion-icon name="business-outline"></ion-icon>&nbsp;<b>Project</b>   
            </ion-text>
          </ion-col>
    
            <ion-col>
              <ion-text>
                {{project_data?.Project_name}}
              </ion-text>
            </ion-col>
      
        </ion-row>

        <ion-row>
          <ion-col class="header-row">
            <ion-text >
              <ion-icon name="business-outline"></ion-icon>&nbsp;<b>Property Type</b>   
          </ion-text>
          </ion-col>
            <ion-col>
              <ion-text  *ngFor="let dd of property_data">
                {{dd?.Property_type}}
              </ion-text>
            </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="header-row">
            <ion-text>
              <ion-icon name="home-outline"></ion-icon>&nbsp;<b>Quarter</b>
            </ion-text>
          </ion-col>
            <ion-col>
              <ion-text>
                {{Quarter}}
              </ion-text>
            </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="header-row">
            <ion-text>
              <ion-icon name="pricetag-outline"></ion-icon>&nbsp;<b>Price</b>
              </ion-text>
          </ion-col>
            <ion-col>
              <ion-text>
                {{Quarter_Price}}
              </ion-text>
            </ion-col>
        </ion-row>
    

       

      <!-- <ion-card-title *ngIf="project_data" >
        <h4 class="h6"><ion-icon name="business-outline"></ion-icon>&nbsp;<b>Project</b> :- &nbsp;{{project_data.Project_name}}</h4>
        </ion-card-title>  -->

        <!-- <ion-card-title *ngFor="let dd of property_data" >
          <h4 class="h6"><ion-icon name="business-outline"></ion-icon>&nbsp;<b>Property</b> <b>Type</b> :- &nbsp;{{dd.Property_type}}</h4>
          </ion-card-title>  -->
        
<!-- 
        <ion-card-title >
          <h4 class="h6"><ion-icon name="home-outline"></ion-icon>&nbsp;<b>Quarter</b> :-&nbsp;{{Quarter}}</h4>
          </ion-card-title>
       
          <ion-card-title >
            <h4 class="h6"><ion-icon name="pricetag-outline"></ion-icon>&nbsp;<b>Price</b> :-&nbsp;{{Quarter_Price}}</h4>
            </ion-card-title>  -->
      
      

      </ion-card-header>    
  </ion-card>
  

  <!-- <ion-button  fill="outline" shape="round"  expand="block" (click)="Book_Quarter()" class="cghb">Book</ion-button> -->


  <ion-button expand="block" (click)="paymentSheet()" (click)="network()">Payment</ion-button>

  <!-- <ion-button expand="block" class="ion-margin-top" (click)="paymentFlow()">Payment Flow</ion-button>

  <ion-button expand="block" class="ion-margin-top" (click)="applePay()">Apple Pay</ion-button> -->

  <!-- <ion-button expand="block" class="ion-margin-top" (click)="googlePay()">googlePay</ion-button> -->
  
</ion-content>
