// ion-menu-button {
//     color: var(--ion-color-primary);
//   }
  
//   #container {
//     text-align: center;
//     position: absolute;
//     left: 0;
//     right: 0;
//     top: 50%;
//     transform: translateY(-50%);
//   }
  
//   #container strong {
//     font-size: 20px;
//     line-height: 26px;
//   }
  
//   #container p {
//     font-size: 16px;
//     line-height: 22px;
//     color: #8c8c8c;
//     margin: 0;
//   }
  
//   #container a {
//     text-decoration: none;
//   }

    
  ion-back-button{
    color: var(--ion-color-primary);
  }
  ion-button{
    margin-left: -20px;
  }



















  ion-content {
    * {
        font-family: lato;
    }
    .main-header {
        height: 28vh;
        width: 120%;
        // background: linear-gradient(90deg, var(--ion-color-tertiary) 0%, var(--ion-color-primary) 100%);
        // box-shadow: 0 1px 10px var(--ion-color-light);
        // border-radius: 0 0 50% 50%;
        margin-left: -4.5vh;
        margin-top: -5px;
        div {
            transform: translateY(2vh);
            ion-avatar {
                width: 15vh;
                height: 15vh;
                background: var(--ion-color-white);
                margin-bottom: 5px;
                border: 2px solid var(--ion-color-primary);
            }
        }
    }
    ion-row {
        margin-top: -63px;
        margin-left: 35px;
        
        ion-col {
            ion-item {
                width: 50%;
                margin: auto;
                // border: 1px solid var(--ion-color-light);
                box-shadow: 50px var(--ion-color-dark);
                border-radius: 10px;
               
            }
        }
    }

    ion-list {
        ion-item {
            margin-top: 1vh;
            ion-label {
                font-size: 0.9rem;
                p {
                    margin-top: 5px;
                    font-size: 1.2rem;
                    font-weight: bold;
                }
            }
        }
    }
}


