
  
  ion-back-button{
    color: var(--ion-color-primary);
  }


  ion-card {
    border-radius: 25px;
    border: 1px solid var(--ion-color-primary);;
    padding: 0px;
    width: auto;
    height: auto;
}