<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">contact</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->



<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Contact Us</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/img/shri satya narayan rathore.jpg" />
    <ion-card-header>
      <ion-card-title>Commissioner of Chhattisgarh Housing Board</ion-card-title>
      <ion-card-subtitle><b>Shri Satya Narayan Rathore

      </b>(IAS)</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      +91-0771-2512121<br>
+91-0771-2512122 (FAX)<br>
e-mail: cghbho@gmail.com
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title><b>Head Office</b></ion-card-title>
      <ion-card-subtitle>Name & Designation	Telephone/E-mail</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/img/Shri H.K. joshi.jpg" />
          </ion-thumbnail>
          <ion-label>Shri H.K.Joshi <br>
            Additional Commissioner <br>
             (Circle-Durg)<br>
             +91-0771-2512130(O)
+91-0771-2512131(O)
+91-94242-09103(M)
e-mail: dcdurgc@gmail.com

          </ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/img/shri H.k. verma.jpg" />
          </ion-thumbnail>
          <ion-label>Shri H.K. Verma <br>
            Additional Commissioner <br>
            (Circle-Raipur, Nava Raipur, Atal Nagar)<br>
            +91-0771-2512133(O)
+91-94242-09039(M)
e-mail: dyhcnrprcircle[at]gmail[dot]com
          </ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/img/Shri M. D. Panariya.jpg" />
          </ion-thumbnail>
          <ion-label>Shri M. D. <br>
            Additional Commissioner <br>
            (Circle-Bilaspur)	<br>
             +91-0771-2500130(O)
             +91-94242-00001(M)
             e-mail:
        </ion-label>
        </ion-item>
  
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/img/Shri R. K. Dhruw.jpg" />
          </ion-thumbnail>
          <ion-label>Shri R. K. <br>
            Administrative Officer (In-Charge) <br>
                    +91-91315-00033(M)
e-mail: admncghb@gmail.com
             </ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/img/Shri Anand Mishra.jpg" />
          </ion-thumbnail>
          <ion-label>Shri Shiv Mishra<br>
            Chief Accounts Officer (In-Charge) <br>
            Account Officer (In-Charge)<br>
            +91-0771-2500027(O)
+91-94063-19007(M)
e-mail: caocghb@gmail.com
        </ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/img/Shri P. K. Sonwani.jpg" />
          </ion-thumbnail>
          <ion-label>Shri P. K. <br>
            Chief Estate Officer (In-Charge) <br>
            +91-0771-2500040(O)
+91-0771-2512141(O)
+91-94242-09004(M)
e-mail: ceocghb[at]gmail[dot]com
        </ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/img/Shri B.B. Singh.jpg" />
          </ion-thumbnail>
          <ion-label>Shri B.B. <br>
            Deputy Housing Commissioner<br>
            +91-94242-00032(M)
            e-mail:
            
        </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/img/Shri M.K. Pandey.jpg" />
          </ion-thumbnail>
          <ion-label>Shri M.K.<br>
            Executive Engineer <br>
            +91-94255-00438(M)
            e-mail:
        </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/img/Shri C. L. Dole.jpg" />
          </ion-thumbnail>
          <ion-label>Shri A.L.<br>
            Architect<br>
            +91-0771-2512006(O)
            +91-94242-09000(M)
            e-mail: architect_cghbho[at]yahoo[dot]com
        </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/img/Shri Chitrasen Sahu.png" />
          </ion-thumbnail>
          <ion-label>Shri Chitrasen Sahu<br>
            Estate Officer <br>
          
            +91-99078-40881(M)
            e-mail: ceocghb[at]gmail[dot]com
        </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>



